<table style="border: black">
  <tr>
    <td colspan="2">
      <ul>
        <li><a href="#" routerLink="/product/item">Model Item</a></li>
        <li><a href="#" routerLink="/product/list">Model List</a></li>
        <li><a href="#" routerLink="/basket">Model</a></li>
      </ul>
    </td>
  </tr>
  <tr style="padding: 5px; border: 1px solid black">
    <td style="padding: 5px; border: 1px solid black; width: 250px;">
      <app-basket></app-basket>
    </td>
    <td>
      <router-outlet></router-outlet>
    </td>
  </tr>
</table>
<hr>
