<div>
  <table>
    <tr>
      <td rowspan="2">
        <h3>{{product.name}}</h3>
      </td>
    </tr>
    <tr>
      <td><span>{{product.price}}</span></td>
      <td>
        <button (click)="onAdd(product)">Add</button>
        <button (click)="onRemove(product)" *ngIf="basket.countOfProduct(product) > 0">Remove</button>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Categories:</h3>
        <ol>
          <li *ngFor="let cat of categories">{{cat.name}}</li>
        </ol>
      </td>
    </tr>
  </table>
</div>
